<!DOCTYPE html>
<html lang="en" class="minimal-theme">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="assets/images/logo-icon.png" type="image/png" />
    <!--plugins-->
    <link href="assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <link
      href="assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css"
      rel="stylesheet"
    />
    <link
      href="assets/plugins/metismenu/css/metisMenu.min.css"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/bootstrap-extended.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/icons.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />

    <!-- loader-->
    <link href="assets/css/pace.min.css" rel="stylesheet" />

    <!--Theme Styles-->
    <link href="assets/css/dark-theme.css" rel="stylesheet" />
    <link href="assets/css/light-theme.css" rel="stylesheet" />
    <link href="assets/css/semi-dark.css" rel="stylesheet" />
    <link href="assets/css/header-colors.css" rel="stylesheet" />

    <title>Project Management</title>
    <style>
      .width-ctrl {
        --width: 25%;
      }
      @media (max-width: 550px) {
        .width-ctrl {
          --width: 37%;
        }
        .multi_tabs-container {
          & .multi_tabs-btn {
            & .tab-btn {
              & ._circle {
                width: 70px;
                font-size: 14px;
              }
            }
          }
        }
      }
    </style>
  </head>

  <body>
    <!--start wrapper-->
    <div class="wrapper">
      <!--start top header-->
      <header class="top-header">
        <nav class="navbar navbar-expand">
          <div class="mobile-toggle-icon d-xl-none">
            <i class="bi bi-list"></i>
          </div>

          <div class="search-toggle-icon d-xl-none ms-auto">
            <i class="bi bi-search"></i>
          </div>
          <form class="searchbar d-none d-xl-flex ms-auto">
            <div
              class="position-absolute top-50 translate-middle-y search-icon ms-3"
            >
              <i class="bi bi-search"></i>
            </div>
            <input
              class="form-control"
              type="text"
              placeholder="Type here to search"
            />
            <div
              class="position-absolute top-50 translate-middle-y d-block d-xl-none search-close-icon"
            >
              <i class="bi bi-x-lg"></i>
            </div>
          </form>
          <div class="top-navbar-right ms-3">
            <ul class="navbar-nav align-items-center">
              <li class="nav-item dropdown dropdown-large">
                <a
                  class="nav-link dropdown-toggle dropdown-toggle-nocaret"
                  href="#"
                  data-bs-toggle="dropdown"
                >
                  <div class="user-setting d-flex align-items-center gap-1">
                    <img
                      src="assets/images/avatars/avatar-1.png"
                      class="user-img"
                      alt=""
                    />
                    <div class="user-name d-none d-sm-block">Jhon Deo</div>
                  </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a class="dropdown-item" href="#">
                      <div class="d-flex align-items-center">
                        <img
                          src="assets/images/avatars/avatar-1.png"
                          alt=""
                          class="rounded-circle"
                          width="60"
                          height="60"
                        />
                        <div class="ms-3">
                          <h6 class="mb-0 dropdown-user-name">Jhon Deo</h6>
                          <small
                            class="mb-0 dropdown-user-designation text-secondary"
                            >HR Manager</small
                          >
                        </div>
                      </div>
                    </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="pages-user-profile.html">
                      <div class="d-flex align-items-center">
                        <div class="setting-icon">
                          <i class="bi bi-person-fill"></i>
                        </div>
                        <div class="setting-text ms-3">
                          <span>Profile</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <div class="d-flex align-items-center">
                        <div class="setting-icon">
                          <i class="bi bi-gear-fill"></i>
                        </div>
                        <div class="setting-text ms-3">
                          <span>Setting</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="index2.html">
                      <div class="d-flex align-items-center">
                        <div class="setting-icon">
                          <i class="bi bi-speedometer"></i>
                        </div>
                        <div class="setting-text ms-3">
                          <span>Dashboard</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <div class="d-flex align-items-center">
                        <div class="setting-icon">
                          <i class="bi bi-piggy-bank-fill"></i>
                        </div>
                        <div class="setting-text ms-3">
                          <span>Earnings</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <div class="d-flex align-items-center">
                        <div class="setting-icon">
                          <i class="bi bi-cloud-arrow-down-fill"></i>
                        </div>
                        <div class="setting-text ms-3">
                          <span>Downloads</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="authentication-signup-with-header-footer.html"
                    >
                      <div class="d-flex align-items-center">
                        <div class="setting-icon">
                          <i class="bi bi-lock-fill"></i>
                        </div>
                        <div class="setting-text ms-3"><span>Logout</span></div>
                      </div>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--end top header-->
      <!--start sidebar -->
      <aside class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
          <div>
            <img
              src="assets/images/logo-icon.png"
              class="logo-icon"
              alt="logo icon"
            />
          </div>
          <div>
            <h4 class="logo-text" style="color: black">Equip Manager</h4>
          </div>
          <div class="toggle-icon ms-auto">
            <i class="bi bi-chevron-double-left" style="color: black"></i>
          </div>
        </div>
        <!--navigation-->
        <ul class="metismenu" id="menu">
          <li>
            <a href="index.html">
              <div class="parent-icon"><i class="bi bi-house-door"></i></div>
              <div class="menu-title font-clash">Dashboard</div>
            </a>
          </li>
          <li>
            <a href="javascript:;" class="has-arrow">
              <div class="parent-icon"><i class="bx bx-user-pin"></i></div>
              <div class="menu-title font-clash">Manage Workforce</div>
            </a>
            <ul>
              <li>
                <a href="add-workforce.html"
                  ><i class="bi bi-arrow-right-short"></i>Add workforce</a
                >
              </li>
              <li>
                <a href="all-workforce.html"
                  ><i class="bi bi-arrow-right-short"></i>All Workforce</a
                >
              </li>
              <li>
                <a href="add-skill.html"
                  ><i class="bi bi-arrow-right-short"></i>Manage Skills</a
                >
              </li>
            </ul>
          </li>

          <!-- manage Equipment -->
          <li>
            <a class="has-arrow" href="javascript:;">
              <div class="parent-icon">
                <i class="bx bx-message-detail"></i>
              </div>
              <div class="menu-title font-clash">Manage Equipment</div>
            </a>
            <ul>
              
              <li>
                <a href="add-equiprnent.html"
                  ><i class="bi bi-arrow-right-short"></i>Add Equipment</a
                >
              </li>
              <li>
                <a href="equipment-list.html"
                  ><i class="bi bi-arrow-right-short"></i>All Equipment </a
                >
              </li>
              <li>
                <a href="manage-category.html"
                  ><i class="bi bi-arrow-right-short"></i>Manage Category</a
                >
              </li>
            </ul>
          </li>
          <!-- mannage  Equipment end here-->
          <!-- manage Project -->
          <li>
            <a class="has-arrow" href="javascript:;">
              <div class="parent-icon">
                <i class="bx bx-window-alt"></i>
              </div>
              <div class="menu-title font-clash">Manage Projects</div>
            </a>
            <ul>
              
              <li>
                <a href="project-management-step.html"
                  ><i class="bi bi-arrow-right-short"></i>Add Project</a
                >
              </li>
              <li>
                <a href="project-management.html"
                  ><i class="bi bi-arrow-right-short"></i>All Projects </a
                >
              </li>
              <li>
                <a href="project-management-category.html"
                  ><i class="bi bi-arrow-right-short"></i>Manage Category</a
                >
              </li>
            </ul>
          </li>
          <!-- mannage  Equipment end here-->
        </ul>
        <!--end navigation-->
      </aside>
      <!--end sidebar -->

      <!--start content-->
      <main class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
          <div class="breadcrumb-title pe-3" style="border: none">
            Project Management
          </div>
        </div>
        <!--end breadcrumb-->

        <div class="col-xl-12 mx-auto">
          <!--  STEPS -->
          <div
            class="multi_tabs-container col-12"
            id="multiTabsBtnsContentSection"
          >
            <!-- Btns -->
            <div class="multi_tabs_btns-container">
              <div class="multi_tabs_btns-wrapper">
                <!-- Btn -->
                <div class="multi_tabs-btn active_tab width-ctrl">
                  <div class="tab-progress-bar"></div>
                  <button class="tab-btn">
                    <span class="_circle">Step 1</span>
                  </button>
                </div>
                <!-- Btn -->
                <div class="multi_tabs-btn width-ctrl">
                  <div class="tab-progress-bar"></div>
                  <button class="tab-btn">
                    <span class="_circle">Step 2</span>
                  </button>
                </div>
                <!-- Btn -->
                <div class="multi_tabs-btn" style="--width: 50%">
                  <div class="tab-progress-bar"></div>
                  <button class="tab-btn">
                    <span class="_circle">Step 3</span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- HAMZA STEPS -->

          <div class="multi_tabs_content-container">
            <div class="card multi_tab_content" id="first-box">
              <div class="card-body">
                <!-- inner card start here-->
                <div class="row">
                  <div class="col-xl-12 mx-auto">
                    <!-- <div class="card">
                    <div class="card-body"> -->
                    <div class="border p-3 rounded">
                      <h6 class="mb-0 text">Add General Information</h6>
                      <hr />
                      <form class="row g-3">
                        <div class="col-12">
                          <label class="form-label">Project name</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter Project name"
                          />
                        </div>
                        <div class="col-12">
                          <label class="form-label">Project category</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Add  Project Category"
                          />
                        </div>
                        <div class="col-12">
                          <label class="form-label">Location</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Add  Location"
                          />
                        </div>
                        <div class="col-12">
                          <label class="form-label"
                            >Upload Image (Max 10)</label
                          >
                          <input type="file" class="form-control" />
                        </div>
                        <div class="col-12 mb-3">
                          <label class="form-label">Timeline</label>
                          <div class="row">
                            <div class="col-md-6 mb-2 mb-md-0">
                              <input
                                type="date"
                                class="form-control"
                                placeholder="Start Date"
                              />
                            </div>
                            <div class="col-md-6">
                              <input
                                type="date"
                                class="form-control"
                                placeholder="End Date"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <label class="form-label">Description</label>
                          <textarea
                            class="form-control"
                            rows="4"
                            cols="4"
                            placeholder="Write Here"
                          ></textarea>
                        </div>
                        <div class="row justify-content-center mt-3">
                          <div class="col-sm-1">
                            <div class="d-flex">
                              <button
                                type="submit"
                                class="btn btn-primary btn-clash"
                              >
                                Next
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                      <!-- </div>
                    </div> -->
                    </div>
                  </div>
                </div>
                <!-- inner card end here-->
              </div>
            </div>
            <div class="card multi_tab_content" id="second-box">
              <div class="card-body">
                <!-- inner card 2nd start here-->
                <div class="row">
                  <div class="col-xl-12 mx-auto">
                    <!-- <div class="card">
                    <div class="card-body"> -->
                    <div class="border p-3 rounded">
                      <h6 class="mb-0 text">Workforce and Equipment</h6>
                      <hr />
                      <form class="row g-3">
                        <div class="col-12">
                          <div class="d-flex align-items-center gap-20 mb-3">
                            <label class="form-label mb-0"
                              >Select Employee</label
                            >
                          </div>
                          <select name="skill" id="skill" class="form-control">
                            <option value="">Select Employee</option>
                            <option value="">Select Employee 1</option>
                            <option value="">Select Employee 3</option>
                            <option value="">Select Employee 4</option>
                          </select>
                        </div>

                        <!-- start -->
                        <div class="card-body card-body-p-0">
                          <div class="product-grid">
                            <div
                              class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-4 g-3"
                            >
                              <!-- Card start -->
                              <div class="col close" style="position: relative">
                                <div class="card border shadow-none h-100">
                                  <div class="text-start">
                                    <img
                                      src="assets/images/gallery/e167bc99fa5ad15d9308030e83cef4d07e8b4c10.jpg"
                                      class="card-img-top-main rounded-top"
                                      alt="Helen Heidenreich"
                                    />
                                    <svg
                                      width="29"
                                      height="29"
                                      viewBox="0 0 29 29"
                                      fill="none"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <path
                                        d="M19.323 18.1157L15.6999 14.4925L19.323 10.8694C19.4832 10.7092 19.5732 10.492 19.5732 10.2655C19.5732 10.039 19.4832 9.82181 19.323 9.66166C19.1629 9.50151 18.9457 9.41154 18.7192 9.41154C18.4927 9.41154 18.2755 9.50151 18.1153 9.66166L14.4922 13.2848L10.869 9.66166C10.7089 9.50151 10.4917 9.41154 10.2652 9.41154C10.0387 9.41154 9.82149 9.50151 9.66134 9.66166C9.50118 9.82181 9.41121 10.039 9.41121 10.2655C9.41121 10.492 9.50118 10.7092 9.66134 10.8694L13.2845 14.4925L9.66134 18.1157C9.50118 18.2758 9.41121 18.493 9.41121 18.7195C9.41121 18.946 9.50118 19.1632 9.66134 19.3234C9.82149 19.4835 10.0387 19.5735 10.2652 19.5735C10.4917 19.5735 10.7089 19.4835 10.869 19.3234L14.4922 15.7002L18.1153 19.3234C18.2755 19.4835 18.4927 19.5735 18.7192 19.5735C18.9457 19.5735 19.1629 19.4835 19.323 19.3234C19.4832 19.1632 19.5732 18.946 19.5732 18.7195C19.5732 18.493 19.4832 18.2758 19.323 18.1157Z"
                                        fill="white"
                                      />
                                    </svg>

                                    <div class="card-body p-3">
                                      <h5 class="card-title mb-1">
                                        Helen Heidenreich
                                      </h5>
                                      <span class="text-muted">Developer</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- Card end -->
                              <!-- Card start -->
                              <div class="col close" style="position: relative">
                                <div class="card border shadow-none h-100">
                                  <div class="text-start">
                                    <img
                                      src="assets/images/gallery/5225a0cdaba6dd55efd0ff44b26e82ddfe8d8800.jpg"
                                      class="card-img-top-main rounded-top"
                                      alt="Helen Heidenreich"
                                    />
                                    <svg
                                      width="29"
                                      height="29"
                                      viewBox="0 0 29 29"
                                      fill="none"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <path
                                        d="M19.323 18.1157L15.6999 14.4925L19.323 10.8694C19.4832 10.7092 19.5732 10.492 19.5732 10.2655C19.5732 10.039 19.4832 9.82181 19.323 9.66166C19.1629 9.50151 18.9457 9.41154 18.7192 9.41154C18.4927 9.41154 18.2755 9.50151 18.1153 9.66166L14.4922 13.2848L10.869 9.66166C10.7089 9.50151 10.4917 9.41154 10.2652 9.41154C10.0387 9.41154 9.82149 9.50151 9.66134 9.66166C9.50118 9.82181 9.41121 10.039 9.41121 10.2655C9.41121 10.492 9.50118 10.7092 9.66134 10.8694L13.2845 14.4925L9.66134 18.1157C9.50118 18.2758 9.41121 18.493 9.41121 18.7195C9.41121 18.946 9.50118 19.1632 9.66134 19.3234C9.82149 19.4835 10.0387 19.5735 10.2652 19.5735C10.4917 19.5735 10.7089 19.4835 10.869 19.3234L14.4922 15.7002L18.1153 19.3234C18.2755 19.4835 18.4927 19.5735 18.7192 19.5735C18.9457 19.5735 19.1629 19.4835 19.323 19.3234C19.4832 19.1632 19.5732 18.946 19.5732 18.7195C19.5732 18.493 19.4832 18.2758 19.323 18.1157Z"
                                        fill="white"
                                      />
                                    </svg>

                                    <div class="card-body p-3">
                                      <h5 class="card-title mb-1">
                                        Helen Heidenreich
                                      </h5>
                                      <span class="text-muted">Developer</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- Card end -->
                              <!-- Card start -->
                              <div class="col close" style="position: relative">
                                <div class="card border shadow-none h-100">
                                  <div class="text-start">
                                    <img
                                      src="assets/images/gallery/b909a323568685cb2a0b10d855cc868d21267f7f.jpg"
                                      class="card-img-top-main rounded-top"
                                      alt="Helen Heidenreich"
                                    />
                                    <svg
                                      width="29"
                                      height="29"
                                      viewBox="0 0 29 29"
                                      fill="none"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <path
                                        d="M19.323 18.1157L15.6999 14.4925L19.323 10.8694C19.4832 10.7092 19.5732 10.492 19.5732 10.2655C19.5732 10.039 19.4832 9.82181 19.323 9.66166C19.1629 9.50151 18.9457 9.41154 18.7192 9.41154C18.4927 9.41154 18.2755 9.50151 18.1153 9.66166L14.4922 13.2848L10.869 9.66166C10.7089 9.50151 10.4917 9.41154 10.2652 9.41154C10.0387 9.41154 9.82149 9.50151 9.66134 9.66166C9.50118 9.82181 9.41121 10.039 9.41121 10.2655C9.41121 10.492 9.50118 10.7092 9.66134 10.8694L13.2845 14.4925L9.66134 18.1157C9.50118 18.2758 9.41121 18.493 9.41121 18.7195C9.41121 18.946 9.50118 19.1632 9.66134 19.3234C9.82149 19.4835 10.0387 19.5735 10.2652 19.5735C10.4917 19.5735 10.7089 19.4835 10.869 19.3234L14.4922 15.7002L18.1153 19.3234C18.2755 19.4835 18.4927 19.5735 18.7192 19.5735C18.9457 19.5735 19.1629 19.4835 19.323 19.3234C19.4832 19.1632 19.5732 18.946 19.5732 18.7195C19.5732 18.493 19.4832 18.2758 19.323 18.1157Z"
                                        fill="white"
                                      />
                                    </svg>

                                    <div class="card-body p-3">
                                      <h5 class="card-title mb-1">
                                        Helen Heidenreich
                                      </h5>
                                      <span class="text-muted">Developer</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- Card end -->
                              <!-- Card start -->
                              <div class="col close" style="position: relative">
                                <div class="card border shadow-none h-100">
                                  <div class="text-start">
                                    <img
                                      src="assets/images/gallery/f660fef856d605d87fe01d9a5d5be8b6d0ed8a48.jpg"
                                      class="card-img-top-main rounded-top"
                                      alt="Helen Heidenreich"
                                    />
                                    <svg
                                      width="29"
                                      height="29"
                                      viewBox="0 0 29 29"
                                      fill="none"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <path
                                        d="M19.323 18.1157L15.6999 14.4925L19.323 10.8694C19.4832 10.7092 19.5732 10.492 19.5732 10.2655C19.5732 10.039 19.4832 9.82181 19.323 9.66166C19.1629 9.50151 18.9457 9.41154 18.7192 9.41154C18.4927 9.41154 18.2755 9.50151 18.1153 9.66166L14.4922 13.2848L10.869 9.66166C10.7089 9.50151 10.4917 9.41154 10.2652 9.41154C10.0387 9.41154 9.82149 9.50151 9.66134 9.66166C9.50118 9.82181 9.41121 10.039 9.41121 10.2655C9.41121 10.492 9.50118 10.7092 9.66134 10.8694L13.2845 14.4925L9.66134 18.1157C9.50118 18.2758 9.41121 18.493 9.41121 18.7195C9.41121 18.946 9.50118 19.1632 9.66134 19.3234C9.82149 19.4835 10.0387 19.5735 10.2652 19.5735C10.4917 19.5735 10.7089 19.4835 10.869 19.3234L14.4922 15.7002L18.1153 19.3234C18.2755 19.4835 18.4927 19.5735 18.7192 19.5735C18.9457 19.5735 19.1629 19.4835 19.323 19.3234C19.4832 19.1632 19.5732 18.946 19.5732 18.7195C19.5732 18.493 19.4832 18.2758 19.323 18.1157Z"
                                        fill="white"
                                      />
                                    </svg>

                                    <div class="card-body p-3">
                                      <h5 class="card-title mb-1">
                                        Helen Heidenreich
                                      </h5>
                                      <span class="text-muted">Developer</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- Card end -->
                            </div>
                          </div>
                        </div>
                        <!-- end -->

                        <!-- second section start  -->

                        <div class="col-12">
                          <div class="d-flex align-items-center gap-20 mb-3">
                            <label class="form-label mb-0"
                              >Select Equipment</label
                            >
                          </div>
                          <select name="skill" id="skill" class="form-control">
                            <option value="">Select Equipment</option>
                            <option value="">Select Equipment 1</option>
                            <option value="">Select Equipment 3</option>
                            <option value="">Select Equipment 4</option>
                          </select>
                        </div>

                        <!-- start -->
                        <div class="card-body card-body-p-0">
                          <div class="product-grid">
                            <div
                              class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-4 g-3"
                            >
                              <!-- Card start -->
                              <div class="col close" style="position: relative">
                                <div class="card border shadow-none h-100">
                                  <div class="text-start">
                                    <img
                                      src="assets/images/gallery/e167bc99fa5ad15d9308030e83cef4d07e8b4c10.jpg"
                                      class="card-img-top-main rounded-top"
                                      alt="Helen Heidenreich"
                                    />
                                    <svg
                                      width="29"
                                      height="29"
                                      viewBox="0 0 29 29"
                                      fill="none"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <path
                                        d="M19.323 18.1157L15.6999 14.4925L19.323 10.8694C19.4832 10.7092 19.5732 10.492 19.5732 10.2655C19.5732 10.039 19.4832 9.82181 19.323 9.66166C19.1629 9.50151 18.9457 9.41154 18.7192 9.41154C18.4927 9.41154 18.2755 9.50151 18.1153 9.66166L14.4922 13.2848L10.869 9.66166C10.7089 9.50151 10.4917 9.41154 10.2652 9.41154C10.0387 9.41154 9.82149 9.50151 9.66134 9.66166C9.50118 9.82181 9.41121 10.039 9.41121 10.2655C9.41121 10.492 9.50118 10.7092 9.66134 10.8694L13.2845 14.4925L9.66134 18.1157C9.50118 18.2758 9.41121 18.493 9.41121 18.7195C9.41121 18.946 9.50118 19.1632 9.66134 19.3234C9.82149 19.4835 10.0387 19.5735 10.2652 19.5735C10.4917 19.5735 10.7089 19.4835 10.869 19.3234L14.4922 15.7002L18.1153 19.3234C18.2755 19.4835 18.4927 19.5735 18.7192 19.5735C18.9457 19.5735 19.1629 19.4835 19.323 19.3234C19.4832 19.1632 19.5732 18.946 19.5732 18.7195C19.5732 18.493 19.4832 18.2758 19.323 18.1157Z"
                                        fill="white"
                                      />
                                    </svg>

                                    <div class="card-body p-3">
                                      <h5 class="card-title mb-1">
                                        Helen Heidenreich
                                      </h5>
                                      <span class="text-muted">Developer</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- Card end -->
                              <!-- Card start -->
                              <div class="col close" style="position: relative">
                                <div class="card border shadow-none h-100">
                                  <div class="text-start">
                                    <img
                                      src="assets/images/gallery/5225a0cdaba6dd55efd0ff44b26e82ddfe8d8800.jpg"
                                      class="card-img-top-main rounded-top"
                                      alt="Helen Heidenreich"
                                    />
                                    <svg
                                      width="29"
                                      height="29"
                                      viewBox="0 0 29 29"
                                      fill="none"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <path
                                        d="M19.323 18.1157L15.6999 14.4925L19.323 10.8694C19.4832 10.7092 19.5732 10.492 19.5732 10.2655C19.5732 10.039 19.4832 9.82181 19.323 9.66166C19.1629 9.50151 18.9457 9.41154 18.7192 9.41154C18.4927 9.41154 18.2755 9.50151 18.1153 9.66166L14.4922 13.2848L10.869 9.66166C10.7089 9.50151 10.4917 9.41154 10.2652 9.41154C10.0387 9.41154 9.82149 9.50151 9.66134 9.66166C9.50118 9.82181 9.41121 10.039 9.41121 10.2655C9.41121 10.492 9.50118 10.7092 9.66134 10.8694L13.2845 14.4925L9.66134 18.1157C9.50118 18.2758 9.41121 18.493 9.41121 18.7195C9.41121 18.946 9.50118 19.1632 9.66134 19.3234C9.82149 19.4835 10.0387 19.5735 10.2652 19.5735C10.4917 19.5735 10.7089 19.4835 10.869 19.3234L14.4922 15.7002L18.1153 19.3234C18.2755 19.4835 18.4927 19.5735 18.7192 19.5735C18.9457 19.5735 19.1629 19.4835 19.323 19.3234C19.4832 19.1632 19.5732 18.946 19.5732 18.7195C19.5732 18.493 19.4832 18.2758 19.323 18.1157Z"
                                        fill="white"
                                      />
                                    </svg>

                                    <div class="card-body p-3">
                                      <h5 class="card-title mb-1">
                                        Helen Heidenreich
                                      </h5>
                                      <span class="text-muted">Developer</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- Card end -->
                              <!-- Card start -->
                              <div class="col close" style="position: relative">
                                <div class="card border shadow-none h-100">
                                  <div class="text-start">
                                    <img
                                      src="assets/images/gallery/b909a323568685cb2a0b10d855cc868d21267f7f.jpg"
                                      class="card-img-top-main rounded-top"
                                      alt="Helen Heidenreich"
                                    />
                                    <svg
                                      width="29"
                                      height="29"
                                      viewBox="0 0 29 29"
                                      fill="none"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <path
                                        d="M19.323 18.1157L15.6999 14.4925L19.323 10.8694C19.4832 10.7092 19.5732 10.492 19.5732 10.2655C19.5732 10.039 19.4832 9.82181 19.323 9.66166C19.1629 9.50151 18.9457 9.41154 18.7192 9.41154C18.4927 9.41154 18.2755 9.50151 18.1153 9.66166L14.4922 13.2848L10.869 9.66166C10.7089 9.50151 10.4917 9.41154 10.2652 9.41154C10.0387 9.41154 9.82149 9.50151 9.66134 9.66166C9.50118 9.82181 9.41121 10.039 9.41121 10.2655C9.41121 10.492 9.50118 10.7092 9.66134 10.8694L13.2845 14.4925L9.66134 18.1157C9.50118 18.2758 9.41121 18.493 9.41121 18.7195C9.41121 18.946 9.50118 19.1632 9.66134 19.3234C9.82149 19.4835 10.0387 19.5735 10.2652 19.5735C10.4917 19.5735 10.7089 19.4835 10.869 19.3234L14.4922 15.7002L18.1153 19.3234C18.2755 19.4835 18.4927 19.5735 18.7192 19.5735C18.9457 19.5735 19.1629 19.4835 19.323 19.3234C19.4832 19.1632 19.5732 18.946 19.5732 18.7195C19.5732 18.493 19.4832 18.2758 19.323 18.1157Z"
                                        fill="white"
                                      />
                                    </svg>

                                    <div class="card-body p-3">
                                      <h5 class="card-title mb-1">
                                        Helen Heidenreich
                                      </h5>
                                      <span class="text-muted">Developer</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- Card end -->
                              <!-- Card start -->
                              <div class="col close" style="position: relative">
                                <div class="card border shadow-none h-100">
                                  <div class="text-start">
                                    <img
                                      src="assets/images/gallery/f660fef856d605d87fe01d9a5d5be8b6d0ed8a48.jpg"
                                      class="card-img-top-main rounded-top"
                                      alt="Helen Heidenreich"
                                    />
                                    <svg
                                      width="29"
                                      height="29"
                                      viewBox="0 0 29 29"
                                      fill="none"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <path
                                        d="M19.323 18.1157L15.6999 14.4925L19.323 10.8694C19.4832 10.7092 19.5732 10.492 19.5732 10.2655C19.5732 10.039 19.4832 9.82181 19.323 9.66166C19.1629 9.50151 18.9457 9.41154 18.7192 9.41154C18.4927 9.41154 18.2755 9.50151 18.1153 9.66166L14.4922 13.2848L10.869 9.66166C10.7089 9.50151 10.4917 9.41154 10.2652 9.41154C10.0387 9.41154 9.82149 9.50151 9.66134 9.66166C9.50118 9.82181 9.41121 10.039 9.41121 10.2655C9.41121 10.492 9.50118 10.7092 9.66134 10.8694L13.2845 14.4925L9.66134 18.1157C9.50118 18.2758 9.41121 18.493 9.41121 18.7195C9.41121 18.946 9.50118 19.1632 9.66134 19.3234C9.82149 19.4835 10.0387 19.5735 10.2652 19.5735C10.4917 19.5735 10.7089 19.4835 10.869 19.3234L14.4922 15.7002L18.1153 19.3234C18.2755 19.4835 18.4927 19.5735 18.7192 19.5735C18.9457 19.5735 19.1629 19.4835 19.323 19.3234C19.4832 19.1632 19.5732 18.946 19.5732 18.7195C19.5732 18.493 19.4832 18.2758 19.323 18.1157Z"
                                        fill="white"
                                      />
                                    </svg>

                                    <div class="card-body p-3">
                                      <h5 class="card-title mb-1">
                                        Helen Heidenreich
                                      </h5>
                                      <span class="text-muted">Developer</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- Card end -->
                            </div>
                          </div>
                        </div>
                        <!-- end -->

                        <!-- second section end  -->

                        <div class="row justify-content-center mt-3">
                          <div class="col-sm-1">
                            <div class="d-flex">
                              <button
                                type="submit"
                                class="btn btn-primary btn-clash"
                              >
                                Next
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                      <!-- </div>
                    </div> -->
                    </div>
                  </div>
                </div>
                <!-- inner card 2nd end here-->
              </div>
            </div>
            <div class="multi_tab_content" id="third-box">
              <div class="card">
                <div class="card-body">
                  <!-- inner card 3nd start here-->
                  <div class="row">
                    <div class="col-xl-12 mx-auto">
                      <!-- <div class="card">
                    <div class="card-body"> -->
                      <div class="border p-3 rounded">
                        <h6 class="mb-0 text">Assign Equipment (Optional)</h6>
                        <hr />
                        <form class="row g-3">
                          <div class="col-12">
                            <div class="d-flex align-items-center gap-20 mb-3">
                              <label class="form-label mb-0"
                                >Select Equipment</label
                              >
                            </div>
                            <select
                              name="skill"
                              id="skill"
                              class="form-control"
                            >
                              <option value="">Select Equipment</option>
                              <option value="">select equipment 1</option>
                              <option value="">select equipment 3</option>
                              <option value="">select equipment 4</option>
                            </select>
                          </div>
                          <div class="col-12">
                            <div class="d-flex align-items-center gap-20 mb-3">
                              <label class="form-label mb-0"
                                >Select Employee</label
                              >
                            </div>
                            <select
                              name="skill"
                              id="skill"
                              class="form-control"
                            >
                              <option value="">Select Employee</option>
                              <option value="">Select Employee 1</option>
                              <option value="">Select Employee 3</option>
                              <option value="">Select Employee 4</option>
                            </select>
                          </div>
                          <div class="col-12 text-center mt-3">
                            <div
                              class="d-flex flex-column flex-md-row justify-content-center gap-2"
                            >
                              <button
                                type="submit"
                                class="btn btn-primary btn-clash"
                              >
                                Assign
                              </button>
                              <button
                                type="submit"
                                class="btn btn-primary btn-clash-outline"
                              >
                                Submit Project
                              </button>
                            </div>
                          </div>
                        </form>
                        <!-- </div>
                    </div> -->
                      </div>
                    </div>
                  </div>
                  <!-- inner card 3nd end here-->
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="mb-0">Equipment and Employees</h5>
                  <div class="table-responsive mt-3">
                    <table class="table align-middle">
                      <thead
                        class="table-secondary bg-sky-blue font-clash-green"
                      >
                        <tr>
                          <th>Sr.</th>
                          <th>Equipment</th>
                          <th>Employee</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>Forklift Model X</td>
                          <td>
                            <div class="employee">
                              <img
                                src="assets/images/gallery/be817f5a348841cfb87df369616233a266b8b28f.jpg"
                                alt="client"
                              />
                              <span>Meghan Grady</span>
                            </div>
                          </td>
                          <td>
                            <div
                              class="table-actions d-flex align-items-center gap-3 fs-6"
                            >
                              <a
                                href="javascript:;"
                                class="text-warning"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="Edit"
                                ><i class="bi bi-pencil-fill"></i
                              ></a>
                              <a
                                href="javascript:;"
                                class="text-danger"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="Delete"
                                ><i class="bi bi-trash-fill"></i
                              ></a>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end row-->
        <!--end row-->
      </main>
      <!--end page main-->

      <!-- popup start -->

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Person</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <!-- body code -->

              <div class="row">
                <div class="card">
                  <div class="card-body">
                    <div class="border p-4 rounded">
                      <div class="card-title d-flex align-items-center">
                        <h5 class="mb-0">Add New Skill</h5>
                      </div>
                      <hr />
                      <div class="row mb-3">
                        <label
                          for="inputEnterYourName"
                          class="col-sm-3 col-form-label"
                          >New Skill Name</label
                        >
                        <div class="col-sm-9">
                          <input
                            type="text"
                            class="form-control"
                            id="inputEnterYourName"
                            placeholder="Enter New Skill Name"
                          />
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label
                          for="inputAddress4"
                          class="col-sm-3 col-form-label"
                          >Description</label
                        >
                        <div class="col-sm-9">
                          <textarea
                            class="form-control"
                            id="inputAddress4"
                            rows="3"
                            placeholder="Address"
                          ></textarea>
                        </div>
                      </div>

                      <div class="row">
                        <label class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                          <button
                            type="submit"
                            class="btn btn-primary px-5 btn-clash"
                          >
                            Add Manage Skill
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- body code end here -->
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- popup end -->

      <!--start overlay-->
      <div class="overlay nav-toggle-icon"></div>
      <!--end overlay-->

      <!--Start Back To Top Button-->
      <a href="javaScript:;" class="back-to-top"
        ><i class="bx bxs-up-arrow-alt"></i
      ></a>
      <!--End Back To Top Button-->
    </div>
    <!--end wrapper-->

    <!-- Bootstrap bundle JS -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!--plugins-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="assets/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="assets/js/pace.min.js"></script>
    <!--app-->
    <script src="assets/js/app.js"></script>
    <script src="assets/js/step.js"></script>
  </body>
</html>
