/* market-line clip path */
.market-line {
  position: relative;
}
.market-line::before,
.market-line::after {
  position: absolute;
  top: 0;
  height: 70%; /* adjust this value (e.g. 50%, 60%, 80%) */
  content: "";
  display: block;
  left: 0;
  border: 1px solid var(--primary-parrot-green);
  border-right: none;
  width: 50%;
  z-index: 1;
  clip-path: polygon(0 0, 90% 0, 2% 100%, 100% 100%, 0 100%, 0 0);
}
.market-line::after {
  left: unset;
  right: 0;
  transform: rotateY(180deg);
}

.market-box-fix {
  padding: 80px 20px;
}

.equipment {
  display: flex;
  justify-content: center;
  padding: 120px 0;
  background-color: var(--off-white);
}

.inner-equipment {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  display: flex;
  justify-content: space-between;
}

/* hamburger start */
.hamburger {
  height: 50px;
  width: 50px;
  transform: 0.2s;
  position: relative;
}
.hamburger .checkbox {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.hamburger-options {
  background-color: var(--white);
  padding: 20px;
  width: 140px;
  border-radius: 12px;
  box-shadow: 0px 4px 60px 0px #0000000f;
  right: 140px;
  position: relative;
  top: -50px;
  border: 1px solid #d2d2d2;
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.hamburger .checkbox:checked ~ .hamburger-options {
  display: block;
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}

.hamburger-options ul li {
  opacity: 0;
  transform: translateX(-10px);
  transition: all 0.3s ease;
}

.hamburger .checkbox:checked ~ .hamburger-options ul li {
  opacity: 1;
  transform: translateX(0);
}

.hamburger .checkbox:checked ~ .hamburger-options ul li:nth-child(1) {
  transition-delay: 0.1s;
}

.hamburger .checkbox:checked ~ .hamburger-options ul li:nth-child(2) {
  transition-delay: 0.2s;
}

.hamburger-options ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hamburger-options ul li {
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--title-black);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.hamburger-options ul li:hover {
  transition: all 0.3s ease;
  color: var(--primary-dark-green);
  font-weight: 700;
}
.hamburger .checkbox:checked ~ .hamburger-options {
  display: block;
}
.line {
  transition: 0.5s;
  stroke-width: 4px;
  stroke: var(--black);
}
.lineTop {
  stroke-dasharray: 40 40;
  stroke-dashoffset: 25;
}
.lineBottom {
  stroke-dasharray: 40 40;
  stroke-dashoffset: 60;
}
.lineMid {
  stroke-dasharray: 40 40;
}
.hamburger .checkbox:checked + svg .line {
  stroke: var(--primary-dark-green);
}
.hamburger .checkbox:checked + svg .lineTop {
  stroke-dashoffset: 0;
  transform-origin: left;
  transform: rotateZ(45deg) translate(-7px, -5px);
}
.hamburger .checkbox:checked + svg .lineMid {
  stroke-dashoffset: 40;
}
.hamburger .checkbox:checked + svg .lineBottom {
  stroke-dashoffset: 0;
  transform-origin: left;
  transform: rotateZ(-45deg) translate(-5px, 5px);
}

/* hamburger end */
.equipment-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.equipment-grid.compact-grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}
.single-equipment-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bg-img {
  padding: 20px 20px 240px 20px;
  border-radius: 14px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wish {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wish > span {
  background-color: #ffffffab;
  padding: 8px 14px;
  border-radius: 360px;
  color: var(--primary-dark-green);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

/* heart animation start */
.heart-svg {
  width: 30px;
  height: 30px;
}
.custom-heart-toggle .heart-input {
  display: none;
  cursor: pointer;
}

.custom-heart-toggle {
  cursor: pointer;
  font-size: 20px;
  transition: 100ms;
}

.heart-icon-wrapper {
  display: flex;
  transition: 100ms;
  animation: heart-disappear-animation 400ms ease;
}

.custom-heart-toggle
  .heart-input:checked
  ~ .heart-icon-wrapper
  .heart-svg
  path {
  fill: #ff5353;
  stroke-width: 0;
}

.custom-heart-toggle .heart-input:checked ~ .heart-icon-wrapper {
  animation: heart-appear-animation 400ms ease;
}

.custom-heart-toggle:hover {
  transform: scale(1.1);
}

@keyframes heart-appear-animation {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes heart-disappear-animation {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
/* heart animation end */

.heading-price {
  display: flex;
  gap: 30px;
  align-items: center;
}
.heading-price > div {
  display: flex;
  gap: 6px;
  flex-direction: column;
}
.heading-price > svg {
  transition: all 0.3s ease;
  cursor: pointer;
}
.heading-price > svg:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
}
.prod-name {
  color: var(--primary-dark-green);
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.prod-price span {
  color: var(--text-gray);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
