/* why-equip-line clip path */
.why-equip-line {
  position: relative;
}
.why-equip-line::before,
.why-equip-line::after {
  position: absolute;
  top: 0;
  height: 79%; /* adjust this value (e.g. 50%, 60%, 80%) */
  content: "";
  display: block;
  left: 0;
  border: 1px solid var(--primary-parrot-green);
  border-right: none;
  width: 50%;
  z-index: 1;
  clip-path: polygon(0 0, 90% 0, 75% 100%, 100% 100%, 0 100%, 0 0);
}
.why-equip-line::after {
  left: unset;
  right: 0;
  transform: rotateY(180deg);
}

/* company */
.company_story {
  display: flex;
  justify-content: center;
  padding: 120px 0;
  background-color: var(--off-white);
}
.inner-company {
  display: flex;
  gap: 50px;
  align-items: center;
}
.company-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 100px 0 0;
}
.company-img {
  width: 50%;
}
.company-img img {
  width: 100%;
}

/* mission */
.mission {
  display: flex;
  justify-content: center;
  padding: 0;
  background-color: var(--off-white);
}
.inner-mission {
  position: relative;
  overflow: hidden;
  border-radius: 22px;
  padding: 120px 120px 240px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  isolation: isolate; 
}

.inner-mission::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(#000000ab, #000000ab),
    url("../img/16fb6ac02ec32d408b1e2a37b4a78c241610b23b.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: inherit;
  z-index: -2;
}

.inner-mission::after {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(12px);
  border-radius: inherit;
  z-index: -1;
}

.inner-mission > * {
  position: relative;
  z-index: 1; 
}

.sub-heading-h2 {
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  font-weight: 500;
}

/* customer */
.customer {
  display: flex;
  justify-content: center;
  background-color: var(--off-white);
}
.benfi{
  padding: 0 0 240px 0;
  margin-top: -110px;
}
.inner-customer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 80px;
}
.customer-boxs {
  display: flex;
  gap: 20px;
  z-index: 2;
}
.single-customer-box {
  box-shadow: 0px 4px 60px 0px #0000000f;
  border-radius: 20px;
  background-color: var(--white);
  padding: 24px;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
